<div class="container">
  <div class="d-flex row flex-row">
    <div class="col-lg-12 d-flex flex-column">
      <div class="d-flex row flex-row">
        <div class="col-lg-12 d-flex flex-column" id="accomodation-info">
          <div class="d-flex row flex-row">
            <div class="p-2 col">
              <h4>Accomodation</h4>
              <hr/>
            </div>
          </div>
          <div class="d-flex row flex-row">
            <div class="col-sm-12 col-lg-3  d-flex flex-column justify-content-start">
              <p>Name: {{ accomodation.name }}</p>
              <p>Room: {{ accomodation.room }}</p>
              <p>Address: {{ accomodation.address }}</p>
              <p>Phone Number: {{ accomodation.phoneNumber }}</p>
              <p>Rating: {{ accomodation.rating }}/5</p>
              <p>Bus lines: {{ accomodation.busLines }}</p>
              <!-- Button trigger modal -->
              <div class="form-group">
                <button class="btn btn-primary" (click)="open(content)">Change Accomodation</button>
              </div>
              <app-gallery [images]="accomodation.images"></app-gallery>
            </div>
            <div class="col-sm-12 col-lg-5 d-flex flex-column">
              <app-map [lat]="44.8238844" [long]="20.3982002"></app-map>
            </div>
            <div class="d-flex col-sm-12 col-lg-4 flex-col justify-content-center ">
              <app-comments [resourceType]="'accomodation'" [resourceId]="accomodation.id"></app-comments>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex row flex-row p-2">

      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Request accomodation change</h4>
      <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="d-flex row flex-row">
          <div class="col-lg-12 d-flex flex-column" id="accomodation-info">
            <p>Name: {{ accomodation.name }}</p>
            <p>Room: {{ accomodation.room }}</p>
            <p>Address: {{ accomodation.address }}</p>
            <p>Phone Number: {{ accomodation.phoneNumber }}</p>
          </div>
        </div>
        <div class="d-flex row flex-row">
          <div class="col-lg-12 d-flex flex-column">
            <textarea
            class="form-control"
            id="comment"
            name="comment"
            rows="3"
            placeholder="Enter your comment..."
            [(ngModel)]="changeAccomodationReason">
          </textarea>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="saveAndClose()">Save</button>
    </div>
</ng-template>
