<div class="container-fluid">
    <div class="row" id="login-header-gm">
        <div class="col-lg-1 col-md-0 col-sm-0"></div>
        <div class="col-lg-11 col-12 col-sm-12">
            <div class="d-flex align-items-start flex-column">
                <h1>EUROPEAN UNIVERSITIES GAMES</h1>
                <h3>Belgrade 2020</h3>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="row d-flex justify-content-center" style="font-size: 14px;">
        <div class="col-12 col-md-4">
            <p class="float-right" style="font-size: 14px;">European Universities Games (EUG) is a multi-sport university sports competition governed by the European University Sports Association (EUSA). Participants in these events are European university teams and individuals.</p>
        </div>
        <div class="col-0 col-sm-0 col-md-1"><div class="vl"></div></div>
        <div class="col-12 col-md-3 d-flex justify-content-center" >
            <!-- <div class="row">
                <p>Sign In</p>
            </div> -->
            <div class="row d-flex flex-column justify-content-center">
                <form (ngSubmit)="onSubmit()" #f="ngForm">
                    <div class="form-group login-input">
                        <input
                          style="font-size: 14px;"
                            type="text"
                            id="username"
                            name="username"
                            placeholder="Username"
                            required
                            ngModel
                            #username='ngModel'> <br>
                            <span class="help-block form-error-message" *ngIf="username.invalid && username.touched">Please enter your username.</span>
                    </div>
                    <div class="form-group login-input">
                        <input
                        style="font-size: 14px;"
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Password"
                            required
                            ngModel
                            #password='ngModel'> <br>
                            <span class="help-block form-error-message" *ngIf="password.invalid && password.touched">Please enter your password.</span>
                    </div>
                    <button class="btn btn-primary" style="font-size: 14px;" type="submit">Login</button> <br>
                    <span class="help-block form-error-message" *ngIf="f.valid && f.touched && loginError">Invalid username and/or password.</span>
                </form>
            </div>
        </div>
    </div>
</div>
